@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight"), local("Segoe UI");
}

body {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px;
}

  a:focus, a:hover {
    text-decoration: underline !important;
    color: #0078D4;
  }

  a, a:focus, a:hover {
    color: #0078D4;
  }


.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
